{% load static %}
    {% include 'librecoach/corp/header.html' %}


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="background:bisque">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-page">
                        <h1 style="padding-top: 25px;">Administrateur</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <a class="btn btn-default btn-lg" href="coach">Creer un coach</a><br><br>
                    <p>Liste des coachs :</p>

                    <ul>
                        {% for coach in object_list %}
                        <!-- remplacer "user.caoch.annonce_set.all" par "all_annonces" pour que le coach puisse voir toutes les rubriques-->
                        <li style="list-style: none;padding:2px"><a class="col-lg-6 col-sm-6" href="">{{ coach.user }}</a>
                        <a style="margin: 0px 15px 0px 15px;" class="btn btn-default" href="">modifier</a>

                        </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="col-lg-6 col-sm-6">
                    <a class="btn btn-default btn-lg" href="client">Creer un client</a><br><br>
                    <p>Liste des clients :</p>

                    <ul>
                        {% for user in object_list %}
                        <!-- remplacer "user.caoch.annonce_set.all" par "all_annonces" pour que le coach puisse voir toutes les rubriques-->
                        <li style="list-style: none;padding:2px"><a class="col-lg-6 col-sm-6" href="">{{ user.username }}</a>
                        <a style="margin: 0px 15px 0px 15px;" class="btn btn-default" href="">modifier</a>

                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% include 'librecoach/corp/footer.html' %}
