{% load static %}
    {% include 'librecoach/corp/header.html' %}

    <script>
        $(document).ready(function () {
        "use strict";
        // Click on li item will change input text value
        $('a').click(function () {
            $('#annonce').val($(this).html());
        });

        $('#annonce').change(function () {
            var input_content = $.trim($(this).val());
            if (!input_content) {
                $('tr').show();
            } else {
                $('tbody>tr').show().not(':contains(' + input_content  + ')').hide();
            }
        });
    });
    </script>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="background:bisque">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-page">
                        <h1 style="padding-top: 25px;">Administrateur</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    {% if user.is_superuser %}
	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-sm-11">
                    <a class="btn btn-default btn-lg" href="client">Creer un coach</a> - <a class="btn btn-default btn-lg" href="client/liste">Voir les clients</a> - <a class="btn btn-default btn-lg" href="coach/liste">Voir les informations personnelles coachs</a><br><br>
                    <h3>Liste des coachs :
                        <input style="float:right" type="submit" class="btn btn-default" value="Valider"><input style="width: 30%;float: right;" id="annonce" type="text" class="form-control" placeholder="Rechercher...">
                       </h3>
                    <table class="table table-striped">
                        <thead><tr><th>Id</th><th>Username</th><th>First Name</th><th>Last Name</th><th>Specialité</th><th>Option</tr></thead>
                        <tbody>
                        {% for coach in object_list %}
                                <tr> <th scope="row">{{ coach.id }}</th> <td>{{ coach.user }}</td> <td>{{ coach.user.first_name }}</td> <td>{{ coach.user.last_name }}</td> <td>{{ coach.specialiste }}</td> <td><a style="margin: 0px 15px 0px 15px;" class="btn btn-default" href="{% url 'librecoach:coach-modifier' coach.id %}"><i class="glyphicon glyphicon-pencil"></i> modifier specialité/image</a><form style="display:inline" action="{% url 'librecoach:coach-supprimer' coach.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delete_id" value="{{ coach.id }}">
                            <button onclick="return confirm('Etes vous sure de supprimer le coach \'{{coach.user}}\'?')" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-trash"></i> supprimer</button>
                        </form></td> </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-lg" style="float:right" href="../">Retour Accueil</a>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    {% else %}
    <a  name="adm"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <p>Cette page n'est reservé qu'à l'administrateur du site.</p><br>
                    <a href="{% url 'librecoach:index' %}">Retour sur la page d'accueil.</a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% endif %}

    {% include 'librecoach/corp/footer.html' %}
