    {% load static %}
    {% include 'librecoach/corp/header.html' %}

    <script>
    $(document).ready(function () {
    "use strict";
    // Click on li item will change input text value
    $('a').click(function () {
       // $('#annonce').val($(this).html());
    });

    $('#annonce').change(function () {
        var input_content = $.trim($(this).val());
        if (!input_content) {
            $('tr').show();
        } else {
            $('tbody>tr').show().not(':contains(' + input_content  + ')').hide();
        }
    });

});

    </script>
    <!-- Header -->
    <a name="accueil"></a>
    <div class="intro-header" style="background:bisque">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-page">
                        <h1 style="padding-top: 25px;">{{user.username}}<span style="font-size:25px"><i>({{user.last_name}} {{user.first_name}})</i></span></h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <a  name="inscription"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Information:<br>Detail client</h2>
                    <p class="lead">Nom : {{ user.first_name }}</p>
                    <p class="lead">Prenom : {{ user.last_name }}</p>
                    <p class="lead">Email : {{ user.email }}</p>

                </div>
                <div class="col-lg-8 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix">
                        <div class="form-group">
                          <input style="float:right" type="submit" class="btn btn-default" value="Valider"><input style="width: 40%;float: right;" id="annonce" type="text" class="form-control" placeholder="Rechercher...">
                        </div>
                    </div>
                    <h2 class="section-heading">Annonces postés par {{user.username}}</h2>


                    <table id="annonce_list" class="table table-striped">
                        <thead><th>N°annonce</th><th>Titre annonce</th><th>Rubrique</th><th>Pris en charge</th><th>Option</th></thead>
                        <tbody>
                        {% for annonce in user.annonce_set.all %}
                        <tr> <td scope="row">{{ annonce.id }}</td> <td><a class="col-lg-6 col-sm-6" href="/librecoach/{{ annonce.id }}/">{{ annonce.titre_annonce }}</a></td> <td>{{ annonce.rubrique }}</td> <td>{{ annonce.pris_en_charge }}</td> <td><a style="margin: 0px 15px 0px 15px;" class="btn btn-default" href="{% url 'librecoach:client-modifier' user.id %}">modifier</a>
                                    <form style="display:inline" action="{% url 'librecoach:annonce-supprimer' annonce.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="annonce_id" value="{{ annonce.id }}">
                                        <button onclick="return confirm('Etes vous sure de supprimer l\'annonce \'{{annonce.titre_annonce}}\'?')" class="btn btn-default" type="submit">supprimer</button>
                                    </form></td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% include 'librecoach/corp/footer.html' %}
