    {% load static %}
    {% include 'librecoach/corp/header.html' %}

    <!-- Header -->
    <a name="accueil"></a>
    <div class="intro-header" style="background:bisque">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-page">
                        <h1 style="padding-top: 25px;">FAQ</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <a  name="inscription"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-10">
                    <h2 class="section-heading">Vos questions <span style="color:#b37731">fréquentes</span> :</h2>

                    <blockquote><p>Créer une annonce</p>
                                <p>Avant de créer une annonce, il faut se créer un compte, et après seulement avoir créer un compte, on peut créer une annonce.</p>
                    </blockquote>
                    <blockquote><p>Créer un compte client</p>
                                <p>Cliquez sur "s'inscrire", et laissez vous guidez par le courant.</p>
                    </blockquote>
                    <blockquote><p>Comment savoir si votre projet sera prit en charge?</p>
                                <p>Dans ton profil, tu as une liste de tous les projets demandés;bref false = pas pris en charger, true = pris en charge</p>
                    </blockquote>
                    <blockquote><p>Où sera posté la date de rendez vous?</p>
                                <p>Un coach spécialisé dans son domaine, vous enverras un message par mail, et dans ce mail,le coach vous demandera un rendez avec son type de rendez(visio, telephone,...).
                                Si vous acceptez le rendez, il y a de forte chance que votre projet sera prit en charger. Si vous refusez le rendez vous, nous vous reproposerons un rendez vous.</p>
                    </blockquote>
                    <blockquote><p>etc</p>
                                <p>etc... l'inspiration me manque et les fautes d'orthographes apparaisssent par magie.</p>
                    </blockquote>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% include 'librecoach/corp/footer.html' %}