    <script>
    $(document).ready(function(){
        $("#id_user:first").hide();
        $("label[for=id_user]").hide();
        $("#id_username:first").hide();
        $("label[for=id_username]").hide();
    });
    </script>

{% for field in form %}
    <div>
        <span>{{ field.errors }}</span>
    </div>
    <label>{{ field.label_tag }}</label>
    <div>{{ field }}</div>
{% endfor%}

    <div><select style="display:none" id="id_user" name="user">
        <option value="{{user.id}}" selected="selected">{{user.username}}</option>
        </select>
    </div>
    <div style="display:none">
        <input id="id_username" maxlength="30" name="username" type="text" value="{{user.username}}" required="">
    </div>