    {% load static %}
    {% include 'librecoach/corp/header.html' %}

    <!-- Header -->
    <a name="accueil"></a>
    <div class="intro-header" style="background:bisque">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-page">
                        <h1 style="padding-top: 25px;">{{user.username}}<span style="font-size:25px"><i>({{user.last_name}} {{user.first_name}})</i></span></h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    {% if user.is_staff %}
    <a  name="inscription"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h2 class="section-heading">Information:<br>Detail coach</h2>
                    <img style="width:200px;height:200px" src="{{user.coach.coach_image}}" alt="..." class="img-thumbnail"><br>
                    <br><p class="lead">Nom : {{ user.first_name }}</p>
                    <p class="lead">Prenom : {{ user.last_name }}</p>
                    <p class="lead">Email : {{ user.email }}</p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <h2 class="section-heading">Annonces postés par {{user.username}}</h2>

                    <ul>
                        <li style="list-style: none;padding:2px">pris en charge<span class="col-lg-10 col-sm-10">Titre</span></li>
                        {% for annonce in user.coach.annonce_set.all %}
                        <!-- remplacer "user.caoch.annonce_set.all" par "all_annonces" pour que le coach puisse voir toutes les rubriques-->
                        <li style="list-style: none;padding:2px"><a class="col-lg-6 col-sm-6" href="/librecoach/{{ annonce.id }}/">{{ annonce.titre_annonce }}</a>
                        <a style="margin: 0px 15px 0px 15px;" class="btn btn-default" href="{% url 'librecoach:annonce-coach-modifier' annonce.id %}">modifier</a>
                        <form style="display:inline" action="{% url 'librecoach:annonce-supprimer' annonce.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="annonce_id" value="{{ annonce.id }}">
                            <button onclick="return confirm('Etes vous sure de supprimer l\'annonce \'{{annonce.titre_annonce}}\'?')" class="btn btn-default" type="submit">supprimer</button>
                        </form><span style="padding-left:8%;">{{annonce.pris_en_charge}}</span>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}
    <a  name="inscription"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <p>Cette page n'est reservé qu'à l'administrateur et aux membres personnels du site.</p><br>
                    <a href="{% url 'librecoach:index' %}">retour sur la page d'accueil.</a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    {% endif %}

    {% include 'librecoach/corp/footer.html' %}